<p id="notice"><%= notice %></p>

<h1 class="align">User details</h1><br>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <p><strong>First name:</strong> <%= @user.first_name %></p>
    <p><strong>Last name:</strong> <%= @user.last_name %></p>
    <p><strong>Email:</strong> <%= @user.email %></p><br>
    <p><%= link_to 'Back', users_path %> | <%= link_to 'Edit user', edit_user_path(@user) %> | <%= link_to "Change your Log in", edit_user_registration_path %></p>
  </div><!-- end col-md-4 -->
</div><!-- end row -->
