<div class="container-fluid">
  <div class="row">
    <div class="center inner">
      <h1 class="align">Order ID: <%= @order.id %></h1>
      <%= image_tag(@order.product.image_url, class: "img-responsive center") %>
      <h2 class="align"><%= @order.product.name %></h2>
      <p class="align"><%= @order.product.description %></p>
      <p class="line"></p>
      <p class="align"><strong><%= @order.product.price %> €</strong></p>
      <p class="line"></p>
      <%= link_to 'Back', orders_path %>
      <br>
    </div><!--end center-->
  </div><!--end row-->
</div><!--end container-fluid-->
