<div class="col-sm-12 col-md-4">
  <div class="inner">
    <%= image_tag(product.image_url, class: "img-responsive center") %>
    <h2><%= product.name %></h2>
    <p><%= product.description %></p>
    <p class="line"></p>
    <p><strong><%= product.price %> €</strong></p>
    <p class="line"></p>
    <div id="products-links">
    <%= link_to product do %><p>Show</p><% end %>
    <%= link_to edit_product_path(product) do %><p>Edit</p><% end %>
    <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' } do %><p>Destroy</p><% end %>
    </div>
  </div>
</div><!--end col-->
