<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-12">
    <div class="center inner" id="product-show">
      <%= image_tag(@product.image_url, class: "img-responsive center") %>
      <h2 class="align"><%= @product.name %></h2>
      <p class="align"><%= @product.description %></p>
      <p class="align">Colour: <%= @product.colour %></p>
      <p class="line"></p>
      <p class="align"><strong><%= @product.price %> €</strong></p>
      <p class="line"></p>
      <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
      <p class="line"></p>
      <%= link_to 'Edit', edit_product_path(@product) %> | <%= link_to 'Back', products_path %>
      <br>
    </div><!--end center-->
  </div>
  </div><!--end row-->
</div><!--end container-fluid-->
