<!DOCTYPE html>
<html>
  <head>
    <title>DogAccessoiresBerlin</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <nav>
      <ul class="nav nav-pills">
        <li role="presentation"><%= link_to "Home", root_path %></li>
        <li role="presentation"><%= link_to "About", simple_pages_about_path %></li>
        <li role="presentation"><%= link_to "Contact", simple_pages_contact_path %></li>
      </ul>
    </nav>


    <%= yield %>


  </body>



  <footer>
    <div class="copyright">
      <p>&copy; 2017 DK</p>
    </div><!--end copyright-->
  </footer>

</html>
